@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  background: url('') fixed;
  font-family: "Source Sans Pro", sans-serif;
}

img {
  width: 200px;
}

header {
  border: 1px dashed darkblue;
  padding: 20px;
  margin: 20px;
}

footer  {
  left: 50%;
}
